*.iml
*.ipr
*.iws
*.ids
*.log
*.pyc
/target/
.idea/
classes/
cobertura/
.DS_Store
.idea/*
.gradle/
build/
out/
bin/
release/build/*
release/cache
/src/main/webapp/views/node_modules/
*/**/tabbar.tmpl.js
.classpath
.project
src/main/webapp/views/scripts/
node_modules/
bower_components/
*/**/.tmp
.settings/
.sass-cache/
.tmp/
**/*.log
**/*.log.*

